In [4]:
cities = ['beijing',
'new york-newark',
'cairo',
'kinki',
'mumbai',
'são paulo',
'mexico city',
'shanghai']

capitalized_cities = [city.title() for city in cities]
capitalized_cities

['Beijing',
 'New York-Newark',
 'Cairo',
 'Kinki',
 'Mumbai',
 'São Paulo',
 'Mexico City',
 'Shanghai']

### Conditionals in List Comprehensions

In [13]:
squares = [x**2 for x in range(9) if x % 2 == 0]
squares

[0, 4, 16, 36, 64]

If you would like to add else , you have to move the conditionals to the beginning of the listcomp, right after the expression, like this.

In [1]:
expression = [x**2 if x % 2 == 0 else x + 3 for x in range(9)]
expression

[0, 4, 4, 6, 16, 8, 36, 10, 64]

### Quiz: Extract First Names
Use a list comprehension to create a new list `first_names` containing just the first names in names in lowercase.

In [9]:
names = ['Jon Snow', 'Arya Stark', 'Khal Drogo', 'Gregor Clegane', 'Daario Naharis']
first_names = [name.split()[0].lower() for name in names]
first_names

['jon', 'arya', 'khal', 'gregor', 'daario']

### Quiz: Multiples of Three
Use a list comprehension to create a list `multiples_3` containing **the first 20 multiples of 3.**

In [14]:
multiples_3 = [x * 3 for x in range(1, 20)]
multiples_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57]

### Quiz: Multiples of Three (2)
Use a list comprehension to create a list `multiples_3` containing mutliples of 3  **less than 20.**

In [13]:
multiples_3 = [x for x in range(1, 20) if x % 3 == 0]
multiples_3

[3, 6, 9, 12, 15, 18]

### Quiz: Filter Names by Scores
Use a list comprehension to create a list of names `passed` that only include those that scored at least 65.

In [15]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]
passed

['Rick Sanchez', 'Summer Smith', 'Beth Smith']